<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
        
  <% end %>
   <h2> Su Pregunta es:</h2>
   <h4><%= @question.query.to_s %></h4>
    <div class="field">
      
        <%= f.text_field :question_id %>
      </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
